.container {
  
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}
#video-container {   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  z-index: -2;
}


#video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.formSignIn {
  width: 60%;
  max-height: 100vh; 
  background-color: transparent;  
  color: rgb(255, 255, 255); 
  position: absolute;
  top:5rem;
  right:5rem;
  padding: 20px;
  border-radius: 5px; 
  overflow-y: auto; 
}

.formSignUp {
  width: 60%;
  max-height: 100vh; 
  background-color: transparent;  
  color: rgb(255, 255, 255); 
  position: absolute;
  top:5rem;
  right:5rem;
  padding: 20px;
  border-radius: 5px; 
  overflow-y: auto; 
}



.custom-text-field .MuiInputLabel-root {
color: yellow;
font-size: 1.5vh;
}

.custom-text-field .MuiInputBase-input,
.custom-text-field .MuiInputBase-input::placeholder {
background-color: red!important;
font-size: 1.5vh;
}

